# Generic Stuff
APP_NAME="Water Games"
APP_DESC="water game"
APP_ENV=production
APP_DEBUG=true
APP_DOMAIN="watr.lol"

# Cookie Stuff 
COOKIE_NAME="WATR-AUTH"

# Encryption
encryptionIv=""
encryptionKey=""

# Mail Stuff (unused as of right now)
MAIL_USER=""
MAIL_PASS=""

# Captcha
CONFIG_CaptchaEnabled=true # if you ever plan to make this public, please make sure this is enabled
PrivateTurnstileKey=""
TurnstileSiteKey=""

# Storage (R2)
R2_BUCKET=""
R2_ACCOUNT_ID=""
R2_KEY_ID=""
R2_SECRET=""

# VPN Detection stuff
IPHUB_APIKEY="="

# Maintenance Toggles
MAINTENANCE=true
HARD_MAINTENANCE=false

#for maintenance bypass stuff
BypassCookieName=""
BypassCookieValue=""

# Database
DB_HOST=""
DB_NAME=""
DB_USER=""
DB_PASS=""
