
  </div>
</div>

<div class="footer">
  <p>
    
    © watr.lol - {{ eotd() }} - Lucky Number: {{ rand(1, 12345678)|number_format }}
    <br>
    <a href="">Terms of Service</a> - <a href="">Credit</a> - <a href="#">Privacy Policy</a>

  </p>

</div>