<div id="navbar">
  <div id="navSection">
      <a href="#" id="branding"><i class="icon fa-solid fa-bars"></i>{{  env("APP_NAME") }}</a>
  </div>
  <div id="navSection">
      <a href="/">Sign In</a>
      <a href="/">Sign Up</a>
  </div>
  
</div>
<div id="content">
  <div id="sidebar" >
    <div class="fullheight">
      <div id="sidebarGroup" class="fullheight">
        <a id="sidebarItem" href="/"><i class="icon fa-solid fa-gamepad"></i>Home</a>
        <a id="sidebarItem" href="/"><i class="icon fa-solid fa-gamepad"></i>Games</a>
        <a id="sidebarItem" href="/"><i class="icon fa-solid fa-gamepad"></i>Apps</a>
        <a id="sidebarItem" href="/"><i class="icon fa-solid fa-gamepad"></i>Music</a>
      </div>
    </div>
  </div>
  <div id="main">
        
