{% extends "models/base.twig" %}
{% block pageName %}Home{% endblock %}
{% block headerIncludes %}
{% endblock %}

{% block body %}
<div style="margin-top: 20px; margin-left: 20px;">
    <h1 style="margin-left: 0px;">Welcome, {{ currentuser.username }}</h1>
    <img src="/assets/images/BlobEmoji/blobcool.png">
</div>
{% endblock %}
